<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">{{ stock.companyName }} ({{stock.symbol}})</h5>
    <p class="card-text"><strong>Latest Price: </strong>${{ stock.latestPrice }}<br/>
<strong>Previous Close: </strong>${{ stock.previousClose }}<br/>
<strong>Change Percent: </strong>{{ stock.changePercent }}%<br/>
<strong>Market Cap: </strong>{{ stock.marketCap  }}<br/>
<strong>YTD Change: </strong>{{ stock.ytdChange }}%<br/>
<strong>52 Week High: </strong>{{ stock.week52High }}$<br/>
<strong>52 Week Low: </strong>{{ stock.week52Low }}$<br/></p>
    <a href="#" class="btn btn-primary">More Data</a>
  </div>
</div>



<!--
<h1>{{ stock.companyName }} ({{stock.symbol}})</h1>
<br/>
<strong>Latest Price: </strong>${{ stock.latestPrice }}<br/>
<strong>Previous Close: </strong>${{ stock.previousClose }}<br/>
<strong>Change Percent: </strong>{{ stock.changePercent }}%<br/>
<strong>Market Cap: </strong>{{ stock.marketCap  }}<br/>
<strong>YTD Change: </strong>{{ stock.ytdChange }}%<br/>
<strong>52 Week High: </strong>{{ stock.week52High }}$<br/>
<strong>52 Week Low: </strong>{{ stock.week52Low }}$<br/>
-->


<!--
<br/><br/>
{{#each stock}}
	{{@key}} | {{this}}<br/>
{{/each}}

-->
